* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  /* color: #A2CDF2;
  color: #0367A6;
  color: #4BB2F2;
  color: #027373; */

}

button{
  cursor: pointer;
  border: none;
  outline-width: 0;
}

.flex{
  display: flex;
  align-items: center;
}
.flexAll{
  display: flex;
  align-items: center;
  height: 100vh;
}
.flex_center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_evenly{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex_wrap{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex_col{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.btn_primary{
  background-color: #027373;
  padding: 17px 65px;
  font-size: 17px;
  border-radius: 35px;
  color: white;
  border: 2px solid #027373;
  text-transform: uppercase;
  transition: all ease-in 0.4s;
}
.btn_primary:hover{
  border: 2px solid #027373;
  color: #027373;
  background-color: #eaf7ff;
}

.btn_secondary{
  border: 2px solid #4BB2F2;
  color: #4BB2F2;
  background-color: #eaf7ff;
  padding: 17px 65px;
  font-size: 17px;
  text-transform: uppercase;
  transition: all ease-in 0.4s;
  border-radius: 35px;
}
.main_title{
  color: #027373;
  margin: 30px;
}
.text_align{
  text-align: center;
  margin: 1rem;
  font-weight: 300;
}
.span_color{
  color: #027373;
  font-weight: bold;
  cursor: pointer;
  margin-left: 4px;
}
.span_color:hover{
  color: #97d3d3;
}