.nav{
    height: 80px;
    width: 100%;
    top: 0px;
    background-color: #027373;
    color: white !important;
    z-index: 1000;
    position: fixed;
}
.logo{
    margin: 10px 50px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon{
    margin-right: 5px;
    font-size: 50px !important;
    color: #f4ff55;
}
.logoText{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.link{
    color: white !important;
    margin-right: 70px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.footer{
    height: 240px;
    width: 100%;
    bottom: 0px;
    background-color: #027373;
    color: white !important;
}
.footerLinks{
  margin-bottom: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 40%;
  
}
.footerLink{
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 15px;
}
.footerLink:hover{
    color: rgb(231, 229, 229);
}
.footerEnd{
    margin-top: auto;
    margin-bottom: 15px;
}