.title{
    margin-bottom: 50px;
    color: #027373;
}

.card{
    padding: 20px;
    width: 450px;
    margin: 40px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.secondaryTitle{
    font-size: 30px;
    margin-bottom: 20px;
}